.image_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('https://wallpaperaccess.com/full/9140013.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    font-size: 1.5rem;
}

.image_container_main {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
}

.image_container_text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about_movie {
    padding: 1rem;
}

.cast_movie {
    padding: 1rem;
}